body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    color: #fff;
}

h1, h2 {
    text-align: center;
    color: #ff6347;
}

div {
    margin: 20px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #555;
}