*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar{
    display: flex;
    margin-right: 10px;
}

.logo{
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a{
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover{
    background: #3f3f3f;
}

.header{
    display: flex;
    justify-content:  center;
    align-items: center;
}

.header{
    height: 70vh !important;
    background-color: rgb(116, 222, 187);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.title{
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: #040404;

}

.mtitle{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    color: #020202;
}

p{
    margin-bottom: 40px;
    font-size: 18px;
    color: #000000;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

.css{
    padding: 30px;
    background: #372e2e;
    justify-content: center;
}
.ejemplo1{
    height: 100vh;
    background-color: bisque;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    justify-items: center;
}

.ejemplo2{
    height: 80vh;
    padding: 40px;
    background-color: rgb(132, 237, 122);
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
}

.ejemplo3{
    height: 60vh;
    padding: 40px;
    background-color: rgb(122, 223, 237);
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
}

.ejemplo4{
    height: 60vh;
    padding: 40px;
    background-color: rgb(242, 151, 240);
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
}

.ejemplo5{
    height: 60vh;
    padding: 20px;
    background-color: rgb(239, 141, 75);
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
}